.container {
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}

.section {
  height: 100vh;
  width: 100%;
  scroll-snap-align: center;
}

#diet {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background: url("https://source.unsplash.com/mVuKCYMGZBM/1600x900") no-repeat center center/cover;
  background-attachment: fixed;
}

#diet::before,
#diet::after {
  position: absolute;
  z-index: 0;
  content: "";
  width: 5rem;
  height: 5rem;
  background: url("https://source.unsplash.com/mVuKCYMGZBM/1600x900");
  bottom: -0.8rem;
}

#diet::before {
  left: 50%;
  transform: skew(0, -20deg);
}

#diet::after {
  right: 50%;
  transform: skew(0, 20deg);
}

#diet h1 {
  margin-top: 5rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 1000;
  width: 100vw;
}

#diet ul {
  margin: 1rem;
  padding: 1rem;
  line-height: 2;
}

#diet ul li {
  font-size: 1.3rem;
}


@keyframes slide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes deslide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }

}

.animate {
  animation-name: slide;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.deanimate {
  animation-name: deslide;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes wobble {
  0% {
    bottom: 8rem;
  }

  50% {
    bottom: 6rem;
  }

  100% {
    bottom: 8rem;
  }
}

.arrow {
  z-index: 4;
  position: absolute;
  bottom: 8rem;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  animation-name: wobble;
  animation-duration: 2.3s;
  animation-iteration-count: infinite;
}

.arrow a {
  font-size: 1.5rem;
  text-transform: capitalize;
  text-decoration: none;
  color: white;
}

.arrow div {
  margin-top: 2rem;
  position: absolute;
  color: white;
  width: 6rem;
  border: 2px solid white;
}

.arrow .left {
  right: 47%;
  transform: rotate(-160deg);
}

.arrow .right {
  left: 47%;
  transform: rotate(-20deg);
}

#nutrient {
  background: url("https://source.unsplash.com/5hvn-2WW6rY/1600x900") no-repeat center center/cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-items: center;
}

#nutrition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2rem;
  margin: 1rem;
  width: 50vw;
  height: calc(100vh - 2rem);
  box-sizing: border-box;
}

#nutrition h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}

.macro {
  font-size: 2rem;
}

.micro {
  font-size: 1.3rem;
}

.image-macro {
  margin-top: 4rem;
  display: grid;
  grid-gap: 2rem;
}

.macro #wheat {
  width: 12rem;
  height: 18rem;
  grid-row-start: 1;
  grid-row-end: 3;
  opacity: 0;
}

.macro #proteins {
  width: 13rem;
  height: 10rem;
  grid-row-start: 1;
  grid-row-end: 2;
  opacity: 0;
}

.macro #fat {
  width: 12rem;
  height: 10rem;
  grid-row-start: 2;
  grid-row-end: 3;
  opacity: 0;
}

.image-micro {
  display: grid;
  grid-gap: 1rem;
}

.micro #salt {
  width: 18rem;
  height: 12rem;
  grid-row-start: 1;
  grid-row-end: 2;
  opacity: 0
}

.micro #vitamin {
  width: 18rem;
  height: 12rem;
  grid-row-start: 2;
  grid-row-end: 3;
  opacity: 0;
}

.micro #spinage {
  width: 16rem;
  height: 25rem;
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  object-fit: cover;
  opacity: 0;
}

#tips {
  background: url("https://source.unsplash.com/w1_4YH5IhDg/1600x900") no-repeat center center/cover;
  background-attachment: fixed;
}

#tips h1 {
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 5rem;
  padding-bottom: 2rem;
  font-size: 3rem;
}

#tips div {
  padding: 0 10rem;
}

#tips div h3 {
  font-size: 2.5rem;
}

#tips div ul li {
  font-size: 1.2rem;
  padding: 0.2rem 0;
}