* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #333;
  color: #fff;
  height: 100vh;
  line-height: 1.6;
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
  /* CSS Smooth Scroll */
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

.lead {
  font-size: 1.5rem;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 60px;
  background: rgba(0, 0, 0, 0.7);
}

.navbar ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: center;
}

.navbar ul li {
  margin: 0 1rem;
  padding: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #f4f4f4;
  transition: all 300ms ease-in-out;
}

.navbar ul li a:hover {
  color: skyblue;
  transition: all 300ms ease-in-out;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;

  /* Scroll Snap */
  scroll-snap-align: center;
}

section a {
  font-size: 4rem;
  text-decoration: none;
  color: #fff;
  text-shadow: 0.2rem 0.2rem 1.5rem aqua;
  transition: all 400ms ease-in-out;
}

section a:hover {
  font-size: 5rem;
  padding: 2rem;
  transition: all 400ms ease-in-out;
}

section h1 {
  font-size: 4rem;
}

section h1 span {
  font-weight: 1000;
  color: #dbdb57;
}

/* Section Images */
section#home {
  background: url("https://source.unsplash.com/bZZp1PmHI0E/1600x900") no-repeat center center/cover;
}

section#workout {
  background: url("https://source.unsplash.com/vjkM-0m34KU/1600x900") no-repeat center center/cover;
}

section#advice {
  background: url("https://source.unsplash.com/yEKFixUQydo/1600x900") no-repeat center center/cover;
}

section#nutrition {
  background: url("https://source.unsplash.com/QP84K2HuIMY/1600x900") no-repeat center center/cover;
}

section#supplement {
  background: url("https://source.unsplash.com/U5kQvbQWoG0/1600x900") no-repeat center center/cover;
}

footer {
  position: absolute;
  box-sizing: border-box;
  display: block;
  color: #f4f4f4;
  text-align: center;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  overflow-y: hidden;
}